Trivia Contact Info + Scoreboard.numbers
.DS_Store
__pycache__/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.xdv
*.synctex.gz
*.synctex.gz\(Busy\)
*.toc
*.m4a
*.webm
*.mp3
*.ogg
*.mp4
*.aac
.vscode/settings.json
